* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: fixed;
    z-index: 1;
}

.container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* width: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;

}

nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: .5 ease s;
}

nav ul li a:hover {
    color: rgb(101, 201, 187);
    transition: .5 ease s;

}

header .container .iconMenu {
    display: none;
}

header .container .iconMenu i {
    color: white;
    font-weight: 700;
}

.btn {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn button {
    width: 100%;
    color: white;
    background-color: #EC5E3E;
    border: none;
    padding: 15px;
    font-size: 16px;
    transition: .5 ease s;
}

.btn button:hover {
    background-color: transparent;
    border: 2px solid white;
    transition: .5 ease s;
}

#sectionOne {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150vh;
    background-image: url("https://preview.colorlib.com/theme/charitee/assets/img/hero/h1_hero1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.containerOne {

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.content {
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
}

.content h1 {
    font-family: "Jost", sans-serif;
    font-size: 65px;
    
    font-weight: 500;
    color: white;
}

.content p {
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    color: white;
}

button {
    background-color: rgb(101, 201, 187);
    color: white;
    border: none;
    width: 40%;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    transition: .5s;
}

button:hover {
    transition: .5s;
    background-color: transparent;
    border: 2px solid white;
}

#sectionTwo {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    background-color: #FCF2EB;
}

.containerTwo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    gap: 20px;
}

.left {
    /* width: 40%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.left img {
    width: 100%;
}

.containerTwo .right {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.right h5 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(101, 201, 187);
}

.right h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    color: rgb(38, 59, 92);
}

.right p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(119, 119, 119);
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.btnOne {
    background-color: rgb(241, 91, 67);
    color: white;
    border: none;
    width: 47%;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
}

.btnOne:hover {
    transition: .5s;
    background-color: transparent;
    border: 2px solid rgb(241, 91, 67);
    color: rgb(241, 91, 67);
}

.btnTwo {
    background-color: transparent;
    color: rgb(241, 91, 67);

    width: 47%;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
    border: 2px solid rgb(241, 91, 67);
}

.btnTwo:hover {
    transition: .5s;
    background-color: rgb(241, 91, 67);
    border: none;
    color: white;
}

#sectionThree {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;


}

.containerThree {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.leftTwo {
    /* width: 50%; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
}

.leftTwo h5 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(101, 201, 187);
}

.leftTwo h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    color: rgb(38, 59, 92);
}

.leftTwo p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: rgb(119, 119, 119);
}

button {
    background-color: rgb(241, 91, 67);
    color: white;
    border: none;
    width: 47%;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
}

button:hover {
    transition: .5s;
    background-color: transparent;
    border: 2px solid rgb(241, 91, 67);
    color: rgb(241, 91, 67);
}

.rightTwo {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightTwo img {
    width: 100%;
}

#sectionFour {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
}

.containerFour {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardss {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.cardss .card {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F4F2F1;
}

.card img {
    width: 100%;
    margin-bottom: 10px;
}

.div {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.card .div h3 {
    font-size: 26px;
    font-weight: 600;
    color: black;
}

.card .div p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: rgb(119, 119, 119);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.numb {
    font-size: 18px;
    font-weight: 600;
    color: rgb(101, 201, 187);
}

#sectionFive {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.containerFive {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.leftFive {
    width: 70%;
    padding: 20px 20px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.leftFive img {
    width: 100%;
}

.containerFive .rightFive {
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
}

.rightFive h5 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(101, 201, 187);
}

.rightFive h1 {
    font-size: 40px;
    font-weight: 400;
    /* line-height: 48px; */
    color: rgb(38, 59, 92);
}

.rightFive p {
    font-size: 18px;
    font-weight: 400;
    /* line-height: 27px; */
    color: rgb(119, 119, 119);
}

.btnTwo {
    background-color: transparent;
    color: rgb(241, 91, 67);
    width: 47%;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 500;
    transition: .5s;
    border: 2px solid rgb(241, 91, 67);
}

.btnTwo:hover {
    transition: .5s;
    background-color: rgb(241, 91, 67);
    border: none;
    color: white;
}

#sectionSix {
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://preview.colorlib.com/theme/charitee/assets/img/gallery/section-bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.containerSix {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
}

.top {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}

.top h5 {
    font-size: 16px;
    font-weight: 400;
    color: white;

}

.top h1 {
    font-size: 40px;
    font-weight: 500;
    color: white;
    font-family: 'Jost', sans-serif;
}


.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 10px;
}

.cardsSix {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.cardSix {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.cardSix h3 {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.cardSix p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: white;
    text-align: center;
}

/* 576-991
 300-576 */
@media screen and (min-width:576px) and (max-width:991px) {
    #sectionOne {
        width: 100%;
        min-height: 20vh;
    }

    .containerOne {
        padding: 40px 0;
        width: 95%;
    }

    .cardss .card {
        width: 48%;
    }

    nav {
        display: none;
    }

    .content {
        width: 70%;
    }

    .cardSix {
        width: 48%;
    }

    header .container .iconMenu {
        display: block;
    }

    .btn {
        display: none;
    }

     .left {
        width: 100%;
    }

    .containerTwo {
        flex-direction: column;
        padding: 40px 0
    }

    .containerTwo .right {
        width: 100%;
        flex-direction: column;
    }

       .leftTwo {
        width: 100%;

    }

    .rightTwo {
        width: 100%;
    }
 .containerThree {
        flex-direction: column;
    }

    .containerFive {
        flex-direction: column;
    }

    .containerFive .rightFive {
    width: 100%;
               flex-direction: column;
    }

    .leftFive {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (min-width:300px) and (max-width:576px) {
    .cardss .card {
        width: 100%;
    }

    .content {
        width: 80%;
    }
    .content h1{
        
        font-size: 29px;
    }
     button{
        font-size: 15px;
        width: 50%;
    }
    nav {
        display: none;
    }
    .containerTwo {
        flex-direction: column;
        padding: 40px 0
    }

    .containerTwo .right {
        width: 100%;
        flex-direction: column;
    }

       .leftTwo {
        width: 100%;

    }

    .rightTwo {
        width: 100%;
    }
    
    .containerThree {
        flex-direction: column;
    }
    .containerFive {
        flex-direction: column;
    }
    .leftFive{
width: 100%;

    }
    .rightFive{
        width: 100%;
        width: auto;
            }
            
    
    .btnOne{
        width: 50%;
        font-size: 10px; 
    }
    .btnTwo{
        font-size: 10px;  
        width: 50%;
    }
    /* .containerFive .rightFive {
        width: %;
        flex-direction: column;
    } */

    .cardSix {
        width: 100%;
    }

    .top h1{
        width: 100%;
        font-size: 30px;
    }


    header .container .iconMenu {
        display: block;
    }

    .btn {
        display: none;
    }
}